<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  	<link rel="stylesheet" type="text/css" th:href="@{/css/photon.css}"/>
  	<title>Users</title>
</head>
<body>
<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Backoffice Dashboard .v-0.1.1.Final (USER)</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn btn-default" th:click="@{/backoffice/home}">
          <span class="icon icon-home"></span>
        </button>
        <button class="btn btn btn-default">
            <span class="icon icon-tools"></span>
          </button>
      </div>
    </div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
          <nav class="nav-group">
              <h5 class="nav-group-title">Security</h5>
              <a class="nav-group-item active" th:href="@{/users}">
                  <span class="icon icon-user"></span>
                  User
              </a>
              <h5 class="nav-group-title">CBR Setting</h5>
              <a class="nav-group-item">
                  <span class="icon icon-shareable"></span>
                  Fitur
              </a>
              <a class="nav-group-item">
                  <span class="icon icon-users"></span>
                  Kasus
              </a>
              <a class="nav-group-item">
                  <span class="icon icon-user"></span>
                  Solusi
              </a>
          </nav>
      </div>
      <div class="pane">
      	<div class="window">
		<header class="toolbar toolbar-header">
    		<div class="toolbar-actions">
      			<div class="btn-group">
        			<button class="btn btn-default" th:click="@{/backoffice/home}">
          				<span class="icon icon-plus-circled"></span>
        			</button>
        			<button class="btn btn-default">
            			<span class="icon icon-search"></span>
          			</button>
      			</div>
    		</div>
  		</header>
  		<div class="window-content">
	  		<table class="table-striped">
	  		<thead>
	    	<tr>
	    		<th style="width: 75px">&nbsp;</th>
	      		<th>Name</th>
	      		<th style="width: 125px">Enabled</th>
	    	</tr>
	  		</thead>
	  		<tbody>
	    	<tr data-th-each="user : ${users}">
	    		<td>
	      			<a>
                  		<span class="icon icon-trash"></span>
                  	</a>
                  	<a th:href="@{/backoffice/users/edit/{user.id}}">
                  		<span class="icon icon-pencil"></span>
                  	</a>
	      		</td>
	      		<td data-th-text="${user.username}"/>
	      		<td data-th-text="${user.enabled}"/>
	    	</tr>
	  		</tbody>
			</table>
  		</div>
  		<footer class="toolbar toolbar-footer">
    		<div class="toolbar-actions">
      			<div class="btn-group">
    				<button class="btn btn-default">
	         			<span class="icon icon-to-start"></span>
	       			</button>
	       			<button class="btn btn-default">
	         			<span class="icon icon-fast-backward"></span>
	       			</button>
	       			<button class="btn btn-default">
	         			Page <th:block th:text="${page}"/> of <th:block th:text="${totalPage}"/>
	       			</button>
	       			<button class="btn btn-default">
	         			<span class="icon icon-fast-forward"></span>
	       			</button>
	       			<button class="btn btn-default">
	         			<span class="icon icon-to-end"></span>
	       			</button>
       			</div>
    		</div>
		</footer>
      	</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>