<head data-th-fragment="head">
    <meta charset="utf-8"/>
    <title>Dashboard</title>
    
    <link rel="stylesheet" data-th-href="@{/backoffice/css/bootstrap.min.css}"/>
    <link rel="stylesheet" data-th-href="@{/backoffice/css/font-awesome.min.css}"/>
	<link rel="stylesheet" data-th-href="@{/backoffice/css/styles.css}"/>
  	
  	<script data-th-src="@{/backoffice/js/jquery-3.2.1.slim.min.js}"></script>
    <script data-th-src="@{/backoffice/js/bootstrap.min.js}"></script>
    <script data-th-src="@{/backoffice/js/popper.min.js}"></script>
    <script data-th-src="@{/backoffice/js/scripts.js}"></script>
</head>