<div data-th-fragment="navbar" class="col-md-3 col-lg-2 sidebar-offcanvas pl-0" id="sidebar" role="navigation">
    <ul class="nav flex-column pl-1">
        <li class="nav-item"><a class="nav-link" data-th-href="@{/backoffice/users(page=0,size=50)}"><i class="fa fa-users"></i> Daftar Admin</a></li>
        <li class="nav-item"><a class="nav-link" data-th-href="@{/backoffice/kasuses(page=0,size=50)}"><i class="fa fa-cogs"></i> Basis Kasus</a></li>
        <li class="nav-item"><a class="nav-link" data-th-href="@{/backoffice/kasusesbaru}"><i class="fa fa-database"></i> Kasus Baru</a></li>
        <li class="nav-item"><a class="nav-link" data-th-href="@{/backoffice/fitures(page=0,size=50)}"><i class="fa fa-database"></i> Fitur</a></li>
        <li class="nav-item"><a class="nav-link" data-th-href="@{/backoffice/solutions(page=0,size=50)}"><i class="fa fa-cogs"></i> Solusi</a></li>
    </ul>
</div>