<section id="social" class="social" data-th-fragment="head-section">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="social-wrapper">
                        <div class="col-md-6">
                            <div class="social-icon">
                                <a ><i class="fa fa-facebook"></i></a>
                                <a ><i class="fa fa-twitter"></i></a>
                                <a ><i class="fa fa-google-plus"></i></a>
                                <a ><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-contact">
                                <a ><i class="fa fa-phone"></i>+011 54925849</a>
                                <a ><i class="fa fa-envelope"></i>contact@softech.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /container -->       
        </section>