<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<script data-th-inline="javascript">
		/*<![CDATA[*/
			function back() {
  				window.location.replace(/*[[@{/backoffice/fitures(page=0,size=50)}]]*/);
  			}
			
	  		function home() {
	  			window.location="/backoffice/home";
	  		}
	  		
	  		function setting() {
	  			window.location="/backoffice/settings";
	  		}
		/*]]>*/
		
		function logout() {
  			window.location=/*[[@{/logout}]]*/
  		}
	</script>
  	<link rel="stylesheet" type="text/css" th:href="@{/css/photon.css}"/>
  	<title>FITUR (ADD)</title>
</head>
<body>
<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Backoffice Dashboard .v-0.1.1.Final (FITUR-ADD)</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn btn-default" onclick="javascript:home()">
          <span class="icon icon-home"></span>
        </button>
        <button class="btn btn btn-default" onclick="javascript:logout()">
            <span class="icon icon-logout"></span>
          </button>
      </div>
    </div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
          <nav class="nav-group">
              <h5 class="nav-group-title">Security</h5>
              <a class="nav-group-item" th:href="@{/backoffice/users(page=0,size=50)}">
                  <span class="icon icon-fitur"></span>
                  User
              </a>
              <h5 class="nav-group-title">CBR Setting</h5>
              <a class="nav-group-item active" th:href="@{/backoffice/fitures(page=0,size=50)}">
                  <span class="icon icon-shareable"></span>
                  Fitur
              </a>
              <a class="nav-group-item" th:href="@{/backoffice/kasuses(page=0,size=50)}">
                  <span class="icon icon-google-circles"></span>
                  Kasus
              </a>
          </nav>
      </div>
      <div class="pane">
      	<div class="window">
		<header class="toolbar toolbar-header">
    		<div class="toolbar-actions">
      			<div class="btn-group">
        			<button class="btn btn-default" onclick="javascript:back()">
          				<span class="icon icon-erase"></span>
        			</button>
        			<button class="btn btn-default" onclick="javascript:document.addform.submit()">
            			<span class="icon icon-floppy"></span>
          			</button>
      			</div>
    		</div>
  		</header>
  		<div class="window-content">
				<form name="addform" style="padding: 20px;width: 50%;" data-th-action="@{/backoffice/fitur/add/store}" method="post">
				<div class="form-group">
    				<label>Name</label>
    				<input type="text" class="form-control" placeholder="Name" name="name"/>
  				</div>
  				<div class="form-group">
    				<label>Note</label>
    				<textarea class="form-control" name="note"></textarea>
  				</div>
        		</form>
  		</div>
  		<footer class="toolbar toolbar-footer">
		</footer>
      	</div>
      </div>
    </div>
  </div>
</div>
</body>
</html>