<!doctype html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head data-th-replace="fragments/backoffice-head :: head"></head>
  <body>
    <nav data-th-replace="fragments/backoffice-menu :: menu(home='active', web='')"></nav>

	<div class="container-fluid" id="main">
	    <div class="row row-offcanvas row-offcanvas-left">
			<div data-th-replace="fragments/backoffice-navigation :: navbar"></div>
		
        	<div class="col-md-9 col-lg-10 main">
            	<h1 class="display-4 d-none d-sm-block">Manajemen Data Fitur</h1>
	            <div class="col-lg-12 col-md-8">
	            	<form name="addform" style="padding: 20px;width: 50%;" data-th-action="@{/backoffice/fitur/edit/store}" method="post">
					<div class="form-group">
	    				<label>Nama</label>
	    				<input type="text" class="form-control" data-th-value="${fitur.name}" readonly="readonly" name="name"/>
	  				</div>
	  				<div class="form-group">
	    				<label>Keterangan</label>
	    				<input type="text" class="form-control" data-th-value="${fitur.note}" readonly="readonly" name="note"/>
	  				</div>
	  				<button type="submit" class="btn btn-primary">Simpan</button>
	        		</form>
	        	</div>
            </div>
	        <hr/>
	        <footer data-th-replace="fragments/backoffice-footer :: footer" class="container-fluid"></footer>
		</div>
	</div>
	<div data-th-replace="fragments/backoffice-about-dialog :: about-dialog"></div>
	</body>
</html>
