<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  	<link rel="stylesheet" type="text/css" th:href="@{/css/photon.css}"/>
  	<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}"/>
  	<script data-th-src="@{/js/jquery.min.js}"></script>
  	<script data-th-src="@{/js/jquery-ui.min.js}"></script>
  	<script data-th-inline="javascript">
  		function go(url) {
  			window.location = url;
  		}
  		
  		function home() {
  			window.location="/backoffice/home";
  		}
  		
  		function logout() {
  			window.location=/*[[@{/logout}]]*/
  		}
  		
  		function search() {
  			window.location="/backoffice/home";
  		}
  		
  		function initadd() {
  			window.location="/backoffice/fitur/add/pre";
  		}
	
  		function remove(url) {
			
  			if(window.confirm("Are you sure? Deleted data cannot be restored.")) {
  				window.location = url;
  			}
  		}
  		
  		function first() {
  			window.location=/*[[@{/backoffice/fitures(page=0, size=${size}, key=${key})}]]*/+";"
  		}
  		
  		function pref() {
  			window.location=[[@{/backoffice/fitures(page=${page-1}, size=${size}, key=${key})}]]
  		}
  		
  		function next() {
  			window.location=[[@{/backoffice/fitures(page=${page+1}, size=${size}, key=${key})}]]
  		}
  		
  		function last() {
  			window.location=[[@{/backoffice/fitures(page=${totalPage-1}, size=${size}, key=${key})}]]
  		}
  		
  		$(function(){
  			
  			var dialog = $( "#dialog-form" ).dialog({
  	  	      autoOpen: false,
  	  	      height: 200,
  	  	      width: 350,
  	  	      modal: true,
  	  	      buttons: {
  	  	        "Search": function(){
  	  	        	document.searchForm.submit();
  	  	        },
  	  	        Cancel: function() {
  	  	          dialog.dialog( "close" );
  	  	        }
  	  	      }
  	  	    });
  			
  			$("#search-button").click(function(e){
  				
  				e.preventDefault();
  				dialog.dialog("open");
  			});
  		});
  	</script>
  	<title>FITUR</title>
</head>
<body>
<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">Backoffice Dashboard .v-0.1.1.Final (FITUR)</h1>
    <div class="toolbar-actions">
      <div class="btn-group">
        <button class="btn btn btn-default" onclick="javascript:home()">
          <span class="icon icon-home"></span>
        </button>
        <button class="btn btn btn-default" onclick="javascript:logout()">
            <span class="icon icon-logout"></span>
          </button>
      </div>
    </div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
          <nav class="nav-group">
              <h5 class="nav-group-title">Security</h5>
              <a class="nav-group-item" th:href="@{/backoffice/users(page=0, size=50)}">
                  <span class="icon icon-fitur"></span>
                  User
              </a>
              <h5 class="nav-group-title">CBR Setting</h5>
              <a class="nav-group-item active" th:href="@{/backoffice/fitures(page=0,size=50)}">
                  <span class="icon icon-shareable"></span>
                  Fitur
              </a>
              <a class="nav-group-item" th:href="@{/backoffice/solutions(page=0,size=50)}">
                  <span class="icon icon-feather"></span>
                  Solusi
              </a>
              <a class="nav-group-item" th:href="@{/backoffice/kasuses(page=0,size=50)}">
                  <span class="icon icon-google-circles"></span>
                  Kasus
              </a>
          </nav>
      </div>
      <div class="pane">
      	<div class="window">
		<header class="toolbar toolbar-header">
    		<div class="toolbar-actions">
      			<div class="btn-group">
        			<button class="btn btn btn-default" onclick="javascript:initadd()">
          				<span class="icon icon-plus-circled"></span>
        			</button>
        			<button id="search-button" class="btn btn btn-default">
            			<span class="icon icon-search"></span>
          			</button>
      			</div>
    		</div>
  		</header>
  		<div class="window-content">
	  		<table class="table-striped">
	  		<thead>
	    	<tr>
	    		<th style="width: 125px">&nbsp;</th>
	      		<th style="width: 200px">Name</th>
	      		<th>Note</th>
	    	</tr>
	  		</thead>
	  		<tbody>
	    	<tr data-th-each="fitur : ${fitures}">
	    		<td>
	      			<div class="btn-group">
    					<button class="btn btn-mini btn-default" data-th-onclick="'remove(\'/backoffice/fitur/delete/' + ${fitur.id} + '\');'">
	         				<span class="icon icon-trash"></span>
	       				</button>
	       				<button class="btn btn-mini btn-default" data-th-onclick="'go(\'/backoffice/fitur/edit/pre/' + ${fitur.id} + '\');'">
	         				<span class="icon icon-pencil"></span>
	       				</button>
	       			</div>
	      		</td>
	      		<td data-th-text="${fitur.name}"/>
	      		<td data-th-text="${fitur.note}"/>
	    	</tr>
	  		</tbody>
			</table>
  		</div>
  		<footer class="toolbar toolbar-footer">
    		<div class="toolbar-actions">
      			<div class="btn-group">
    				<button class="btn btn-default" onclick="javascript:first();">
	         			<span class="icon icon-to-start"></span>
	       			</button>
	       			<button class="btn btn-default" onclick="javascript:pref();">
	         			<span class="icon icon-fast-backward"></span>
	       			</button>
	       			<button class="btn btn-default">
	         			Page <th:block th:text="${page+1}"/> of <th:block th:text="${totalPage}"/>
	       			</button>
	       			<button class="btn btn-default" onclick="javascript:next();">
	         			<span class="icon icon-fast-forward"></span>
	       			</button>
	       			<button class="btn btn-default"  onclick="javascript:last();">
	         			<span class="icon icon-to-end"></span>
	       			</button>
       			</div>
    		</div>
		</footer>
      	</div>
      </div>
    </div>
  </div>
</div>

<div id="dialog-form" title="Search">
  	<form name="searchForm" data-th-action="@{/backoffice/fitures}">
      <label for="name">Key</label>
      <input type="text" style="width: 100%" name="key" data-th-value="${key}" class="text ui-widget-content ui-corner-all"/>
      <input type="hidden" name="page" data-th-value="${page}"/>
      <input type="hidden" name="size" data-th-value="${size}"/>
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
  </form>
</div>
</body>
</html>