<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>CBR</title>

  	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal"/>
  	<link rel="stylesheet" type="text/css" data-th-href="@{/css/font-awesome.min.css}"/>
  	<link rel="stylesheet" type="text/css" data-th-href="@{/css/bootstrap.min.css}"/>
  	<link rel="stylesheet" type="text/css" data-th-href="@{/css/style.css}"/>
  
  	<link rel="stylesheet" type="text/css" data-th-href="@{/css/smart_wizard.css}"/>
	<link rel="stylesheet" type="text/css" data-th-href="@{/css/smart_wizard_theme_circles.css}"/>
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/smart_wizard_theme_arrows.css}"/>
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/smart_wizard_theme_dots.css}"/>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="63">
  <section id="banner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
              <a class="navbar-brand" data-th-href="@{/}">&nbsp;</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Home</a></li>
                <li class=""><a href="#service">Konsultasi</a></li>
                <li class=""><a href="#about">Tentang Saya</a></li>
                <li class=""><a href="#help">Bantuan</a></li>
                <li class=""><a th:href="@{/signin}">Sign In</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">
            </div>
            <div class="banner-text text-center">
              <h1 class="white">SELAMAT DATANG!</h1>
              <p>Sudahkah anda periksakan kesehatan saluran pencernaan anak anda?</p>
              <a href="#service" class="btn btn-appoint">Mulai Konsultasi</a>
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->
  
  <!--service-->
  <form method="post" data-th-action="@{/consult}">
  <section id="service" class="section-padding">
    <div class="container">
    	<div id="smartwizard">
        <ul>
        	<li><a href="#step-0">Awal<br /></a></li>
            <li><a href="#step-1">Gejala 1<br /></a></li>
            <li><a href="#step-2">Gejala 2<br /></a></li>
            <li><a href="#step-3">Gejala 3<br /></a></li>
            <li><a href="#step-4">Gejala 4<br /></a></li>
            <li><a href="#step-5">Gejala 5<br /></a></li>
            <li><a href="#step-6">Gejala 6<br /></a></li>
            <li><a href="#step-7">Gejala 7<br /></a></li>
            <li><a href="#step-8">Gejala 8<br /></a></li>
            <li><a href="#step-9">Gejala 9<br /></a></li>
            <li><a href="#step-10">Gejala 10<br /></a></li>
            <li><a href="#step-11">Gejala 11<br /></a></li>
            <li><a href="#step-12">Gejala 12<br /></a></li>
            <li><a href="#step-13">Gejala 13<br /></a></li>
            <li><a href="#step-14">Gejala 14<br /></a></li>
            <li><a href="#step-15">Gejala 15<br /></a></li>
            <li><a href="#step-16">Gejala 16<br /></a></li>
            <li><a href="#step-17">Gejala 17<br /></a></li>
            <li><a href="#step-18">Gejala 18<br /></a></li>
            <li><a href="#step-19">Gejala 19<br /></a></li>
            <li><a href="#step-20">Gejala 20<br /></a></li>
            <li><a href="#step-21">Gejala 21<br /></a></li>
            <li><a href="#step-22">Gejala 22<br /></a></li>
            <li><a href="#step-23">Gejala 23<br /></a></li>
            <li><a href="#step-24">Gejala 24<br /></a></li>
            <li><a href="#step-25">Gejala 25<br /></a></li>
            <li><a href="#step-26">Gejala 26<br /></a></li>
            <li><a href="#step-27">Gejala 27<br /></a></li>
            <li><a href="#step-28">Gejala 28<br /></a></li>
            <li><a href="#step-29">Gejala 29<br /></a></li>
            <li><a href="#step-30">Gejala 30<br /></a></li>
            <li><a href="#step-31">Gejala 31<br /></a></li>
            <li><a href="#step-32">Gejala 32<br /></a></li>
            <li><a href="#step-33">Gejala 33<br /></a></li>
            <li><a href="#step-34">Gejala 34<br /></a></li>
            <li><a href="#step-35">Gejala 35<br /></a></li>
        </ul>
        <div>
        	<div id="step-0" class="">
                <h3 class="border-bottom border-gray pb-2">Selamat Datang</h3>
                <p>Tekan next untuk memulai diagnosa penyakit</p>
            </div>
            <div id="step-1" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan mual dan muntah</h3>
                <input type="radio" name="g1" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g1" value="1"/> Ya <br/>
            </div>
            <div id="step-2" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan mual dan tidak muntah</h3>
                <input type="radio" name="g2" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g2" value="1"/> Ya <br/>
            </div>
            <div id="step-3" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak mengalami perut kembung</h3>
                <input type="radio" name="g3" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g3" value="1"/> Ya <br/>
            </div>
            <div id="step-4" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan perut kosong dan lapar</h3>
                <input type="radio" name="g4" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g4" value="1"/> Ya <br/>
            </div>
            <div id="step-5" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan pegal-pegal di punggung</h3>
                <input type="radio" name="g5" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g5" value="1"/> Ya <br/>
            </div>
            <div id="step-6" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan asam dimulut</h3>
                <input type="radio" name="g6" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g6" value="1"/> Ya <br/>
            </div>
            <div id="step-7" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah perut anak terasa perih</h3>
                <input type="radio" name="g7" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g7" value="1"/> Ya <br/>
            </div>
            <div id="step-8" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah nafsu makan anak menurun</h3>
                <input type="radio" name="g8" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g8" value="1"/> Ya <br/>
            </div>
            <div id="step-9" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan susah untuk buang gas</h3>
                <input type="radio" name="g9" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g9" value="1"/> Ya <br/>
            </div>
            <div id="step-10" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah perut anak menjadi bengkak</h3>
                <input type="radio" name="g10" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g10" value="1"/> Ya <br/>
            </div>
            <div id="step-11" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan pusing dan sakit kepala</h3>
                <input type="radio" name="g11" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g11" value="1"/> Ya <br/>
            </div>
            <div id="step-12" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah perut anak terasa penuh</h3>
                <input type="radio" name="g12" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g12" value="1"/> Ya <br/>
            </div>
            <div id="step-13" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah perut anak sering berbunyi</h3>
                <input type="radio" name="g13" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g13" value="1"/> Ya <br/>
            </div>
            <div id="step-14" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan demam ringan</h3>
                <input type="radio" name="g14" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g14" value="1"/> Ya <br/>
            </div>
            <div id="step-15" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan demam tinggi</h3>
                <input type="radio" name="g15" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g15" value="1"/> Ya <br/>
            </div>
            <div id="step-16" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah tekanan darah anak rendah</h3>
                <input type="radio" name="g16" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g16" value="1"/> Ya <br/>
            </div>
            <div id="step-17" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah berat badan anak menurun</h3>
                <input type="radio" name="g17" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g17" value="1"/> Ya <br/>
            </div>
            <div id="step-18" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak buang air besar 6 kali dalam waktu 24 jam</h3>
                <input type="radio" name="g18" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g18" value="1"/> Ya <br/>
            </div>
            <div id="step-19" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak mengalami dehidrasi</h3>
                <input type="radio" name="g19" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g19" value="1"/> Ya <br/>
            </div>
            <div id="step-20" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak susah buang air besar</h3>
                <input type="radio" name="g20" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g20" value="1"/> Ya <br/>
            </div>
            <div id="step-21" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak mengeluarkan tinja cair</h3>
                <input type="radio" name="g21" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g21" value="1"/> Ya <br/>
            </div>
            <div id="step-22" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak mengalami mencret-mencret</h3>
                <input type="radio" name="g22" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g22" value="1"/> Ya <br/>
            </div>
            <div id="step-23" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak ketika buang air besar berdarah</h3>
                <input type="radio" name="g23" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g23" value="1"/> Ya <br/>
            </div>
            <div id="step-24" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan sakit saat buang air besar</h3>
                <input type="radio" name="g24" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g24" value="1"/> Ya <br/>
            </div>
            <div id="step-25" class="">
                <h3 class="border-bottom border-gray pb-2">Apakah anak buang air besar bercampur lendir</h3>
                <input type="radio" name="g25" value="0" checked="checked"/> Tidak <br/>
                <input type="radio" name="g25" value="1"/> Ya <br/>
            </div>
        </div>
        </div>
		</div>
  </section>
</form>
  <!--/ service-->
  
  
  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Tentang Saya</h2>
            <hr class="botm-line"/>
            <p class="sec-para">&nbsp;</p>
            <a href="" style="color: #0cb8b6; padding-top:10px;">&nbsp;</a>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>&nbsp;</h3>
                <p>&nbsp;.</p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>&nbsp;</h3>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ about-->
  
  <!--help-->
  <section id="help" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Tentang Saya</h2>
            <hr class="botm-line"/>
            <p class="sec-para">&nbsp;</p>
            <a href="" style="color: #0cb8b6; padding-top:10px;">&nbsp;</a>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>&nbsp;</h3>
                <p>&nbsp;.</p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>&nbsp;</h3>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ help-->

  <!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">&nbsp;</h4>
            </div>
            <div class="info-sec">
              <p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Quick Links</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
                <li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
                <li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Follow us</h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                <li class="bgred"><i class="fa fa-google-plus"></i></li>
                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Copyright Medilab Theme. All Rights Reserved
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medilab
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ footer-->

  	<script data-th-src="@{/js/jquery.min.js}"></script>
  	<script data-th-src="@{/js/jquery.easing.min.js}"></script>
  	<script data-th-src="@{/js/custom.js}"></script>
  	<script data-th-src="@{/js/bootstrap.min.js}"></script>
  	<script data-th-src="@{/js/jquery-ui.min.js}"></script>
  	<script data-th-src="@{/js/jquery.steps.min.js}"></script>
  	<script data-th-src="@{/js/popper.min.js}"></script>
    <script data-th-src="@{/js/jquery.smartWizard.min.js}"></script>
  	
  	<script type="text/javascript">
  		$(document).ready(function(){
  			
  			$("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
                //alert("You are on step "+stepNumber+" now");
                if(stepPosition === 'first'){
                    $("#prev-btn").addClass('disabled');
                }else if(stepPosition === 'final'){
                    $("#next-btn").addClass('disabled');
                }else{
                    $("#prev-btn").removeClass('disabled');
                    $("#next-btn").removeClass('disabled');
                }
             });

             // Toolbar extra buttons
             var btnFinish = $('<button></button>').text('Selesai')
                                              .addClass('btn btn-info')
                                              .on('click', function(){ alert('Finish Clicked'); });
             var btnCancel = $('<button></button>').text('Batalkan')
                                              .addClass('btn btn-danger')
                                              .on('click', function(){ $('#smartwizard').smartWizard("reset"); });
  			
  			$('#smartwizard').smartWizard({
  		        selected: 0,
  		        theme: 'arrows',
  		        transitionEffect:'fade',
  		        showStepURLhash: true,
  		        toolbarSettings: {toolbarPosition: 'both',
  		                          toolbarButtonPosition: 'end',
  		                          toolbarExtraButtons: [btnFinish, btnCancel]
  		                        }
  			});
  			
  			window.location = "/#banner";
  		});
	</script>
</body>

</html>
