<!doctype html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head data-th-replace="fragments/head :: all(title='Halaman Utama')"></head>
    <body>
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <section id="social" class="social" data-th-replace="fragments/headsection :: head-section"></section>
        <nav data-th-replace="fragments/navbar :: navbar(a='active', b='', c='', d='')"></nav>

        <!--Home page style-->
        <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">
                                    <h1>Selamat Datang</h1>
                                    <h3>Website ini untuk anak anda yang bermasalah dengan pencernaan</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                            <div class="home-contact">
                                                <div class="input-group">
                                                    <a data-th-href="@{/konsultasi.next}" class="btn btn-default">Silahkan Konsultasi</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>			
            </div>
        </header>


        
        <!--Footer-->
        <footer id="footer" class="footer" data-th-replace="fragments/footer :: footer"></footer>
		<div class="scrollup"><a ><i class="fa fa-chevron-up"></i></a></div>
    </body>
</html>
