<!doctype html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head data-th-replace="fragments/head :: noscript(title='Halaman Konsultasi')"></head>
    <body id="start">
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <section id="social" class="social" data-th-replace="fragments/headsection :: head-section"></section>
        <nav data-th-replace="fragments/navbar :: navbar(a='', b='active', c='', d='')"></nav>

         <!-- Sections -->
        <form>
        <section id="features" class="features sections">
            <div class="container">
		    	<div id="smartwizard" style="height: 600px;">
		        <ul>
		        	<li><a href="#step-0">Awal<br /></a></li>
		            <li><a href="#step-1">1<br /></a></li>
		            <li><a href="#step-2">2<br /></a></li>
		            <li><a href="#step-3">3<br /></a></li>
		            <li><a href="#step-4">4<br /></a></li>
		            <li><a href="#step-5">5<br /></a></li>
		            <li><a href="#step-6">6<br /></a></li>
		            <li><a href="#step-7">7<br /></a></li>
		            <li><a href="#step-8">8<br /></a></li>
		            <li><a href="#step-9">9<br /></a></li>
		            <li><a href="#step-10">10<br /></a></li>
		            <li><a href="#step-11">11<br /></a></li>
		            <li><a href="#step-12">12<br /></a></li>
		            <li><a href="#step-13">13<br /></a></li>
		            <li><a href="#step-14">14<br /></a></li>
		            <li><a href="#step-15">15<br /></a></li>
		            <li><a href="#step-16">16<br /></a></li>
		            <li><a href="#step-17">17<br /></a></li>
		            <li><a href="#step-18">18<br /></a></li>
		            <li><a href="#step-19">19<br /></a></li>
		            <li><a href="#step-20">20<br /></a></li>
		            <li><a href="#step-21">21<br /></a></li>
		            <li><a href="#step-22">22<br /></a></li>
		            <li><a href="#step-23">23<br /></a></li>
		            <li><a href="#step-24">24<br /></a></li>
		            <li><a href="#step-25">25<br /></a></li>
		            <li><a href="#step-26">26<br /></a></li>
		            <li><a href="#step-27">27<br /></a></li>
		            <li><a href="#step-28">28<br /></a></li>
		            <li><a href="#step-29">29<br /></a></li>
		            <li><a href="#step-30">30<br /></a></li>
		            <li><a href="#step-31">31<br /></a></li>
		            <li><a href="#step-32">32<br /></a></li>
		            <li><a href="#step-33">33<br /></a></li>
		            <li><a href="#step-34">34<br /></a></li>
		            <li><a href="#step-35">35<br /></a></li>
		        </ul>
		        <div>
		        	<div id="step-0" class="">
		                <h3 class="border-bottom border-gray pb-2">Selamat Datang</h3>
		                <p>Tekan next untuk memulai diagnosa penyakit</p>
		            </div>
		            <div id="step-1" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan mual dan muntah</h3>
		                <input type="radio" name="g1" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g1" value="1"/> Ya <br/>
		            </div>
		            <div id="step-2" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan mual dan tidak muntah</h3>
		                <input type="radio" name="g2" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g2" value="1"/> Ya <br/>
		            </div>
		            <div id="step-3" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak mengalami perut kembung</h3>
		                <input type="radio" name="g3" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g3" value="1"/> Ya <br/>
		            </div>
		            <div id="step-4" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan perut kosong dan lapar</h3>
		                <input type="radio" name="g4" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g4" value="1"/> Ya <br/>
		            </div>
		            <div id="step-5" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan pegal-pegal di punggung</h3>
		                <input type="radio" name="g5" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g5" value="1"/> Ya <br/>
		            </div>
		            <div id="step-6" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan asam dimulut</h3>
		                <input type="radio" name="g6" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g6" value="1"/> Ya <br/>
		            </div>
		            <div id="step-7" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah perut anak terasa perih</h3>
		                <input type="radio" name="g7" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g7" value="1"/> Ya <br/>
		            </div>
		            <div id="step-8" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah nafsu makan anak menurun</h3>
		                <input type="radio" name="g8" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g8" value="1"/> Ya <br/>
		            </div>
		            <div id="step-9" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan susah untuk buang gas</h3>
		                <input type="radio" name="g9" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g9" value="1"/> Ya <br/>
		            </div>
		            <div id="step-10" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah perut anak menjadi bengkak</h3>
		                <input type="radio" name="g10" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g10" value="1"/> Ya <br/>
		            </div>
		            <div id="step-11" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan pusing dan sakit kepala</h3>
		                <input type="radio" name="g11" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g11" value="1"/> Ya <br/>
		            </div>
		            <div id="step-12" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah perut anak terasa penuh</h3>
		                <input type="radio" name="g12" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g12" value="1"/> Ya <br/>
		            </div>
		            <div id="step-13" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah perut anak sering berbunyi</h3>
		                <input type="radio" name="g13" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g13" value="1"/> Ya <br/>
		            </div>
		            <div id="step-14" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan demam ringan</h3>
		                <input type="radio" name="g14" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g14" value="1"/> Ya <br/>
		            </div>
		            <div id="step-15" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan demam tinggi</h3>
		                <input type="radio" name="g15" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g15" value="1"/> Ya <br/>
		            </div>
		            <div id="step-16" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah tekanan darah anak rendah</h3>
		                <input type="radio" name="g16" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g16" value="1"/> Ya <br/>
		            </div>
		            <div id="step-17" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah berat badan anak menurun</h3>
		                <input type="radio" name="g17" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g17" value="1"/> Ya <br/>
		            </div>
		            <div id="step-18" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak buang air besar 6 kali dalam waktu 24 jam</h3>
		                <input type="radio" name="g18" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g18" value="1"/> Ya <br/>
		            </div>
		            <div id="step-19" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak mengalami dehidrasi</h3>
		                <input type="radio" name="g19" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g19" value="1"/> Ya <br/>
		            </div>
		            <div id="step-20" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak susah buang air besar</h3>
		                <input type="radio" name="g20" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g20" value="1"/> Ya <br/>
		            </div>
		            <div id="step-21" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak mengeluarkan tinja cair</h3>
		                <input type="radio" name="g21" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g21" value="1"/> Ya <br/>
		            </div>
		            <div id="step-22" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak mengalami mencret-mencret</h3>
		                <input type="radio" name="g22" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g22" value="1"/> Ya <br/>
		            </div>
		            <div id="step-23" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak ketika buang air besar berdarah</h3>
		                <input type="radio" name="g23" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g23" value="1"/> Ya <br/>
		            </div>
		            <div id="step-24" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan sakit saat buang air besar</h3>
		                <input type="radio" name="g24" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g24" value="1"/> Ya <br/>
		            </div>
		            <div id="step-25" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak buang air besar bercampur lendir</h3>
		                <input type="radio" name="g25" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g25" value="1"/> Ya <br/>
		            </div>
		            <div id="step-26" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah tinja anak sangat encer tanpa lendir</h3>
		                <input type="radio" name="g26" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g26" value="1"/> Ya <br/>
		            </div>
		            <div id="step-27" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak saat buang air besar tinja mengeras dan juga terlihat mengering</h3>
		                <input type="radio" name="g27" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g27" value="1"/> Ya <br/>
		            </div>
		            <div id="step-28" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah tinja anak berwarna kemerahan</h3>
		                <input type="radio" name="g28" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g28" value="1"/> Ya <br/>
		            </div>
		            <div id="step-29" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah tinja anak berwarna kehijau-hijauan</h3>
		                <input type="radio" name="g29" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g29" value="1"/> Ya <br/>
		            </div>
		            <div id="step-30" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah tubuh anak terasa lemas</h3>
		                <input type="radio" name="g30" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g30" value="1"/> Ya <br/>
		            </div>
		            <div id="step-31" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak cengeng </h3>
		                <input type="radio" name="g31" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g31" value="1"/> Ya <br/>
		            </div>
		            <div id="step-32" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak gelisah dan suhu badan meningkat</h3>
		                <input type="radio" name="g32" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g32" value="1"/> Ya <br/>
		            </div>
		            <div id="step-33" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak mengalami sakit perut atau keram perut</h3>
		                <input type="radio" name="g33" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g33" value="1"/> Ya <br/>
		            </div>
		            <div id="step-34" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak tiba-tiba menjerit menangis tanpa ada trauma</h3>
		                <input type="radio" name="g34" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g34" value="1"/> Ya <br/>
		            </div>
		            <div id="step-35" class="">
		                <h3 class="border-bottom border-gray pb-2">Apakah anak merasakan perutnya sakit tetapi lokasinya belum tepat</h3>
		                <input type="radio" name="g35" value="0" checked="checked"/> Tidak <br/>
		                <input type="radio" name="g35" value="1"/> Ya <br/>
		            </div>
		        </div>
        	</div>
		</div>
        </section><!--End of Features 2 Section -->
        </form>

        <footer id="footer" class="footer" data-th-replace="fragments/footer :: footer"></footer>
		<div class="scrollup"><a ><i class="fa fa-chevron-up"></i></a></div>

		<script data-th-src="@{/js/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
        <script data-th-src="@{/js/jquery.min.js}"></script>
        <script data-th-src="@{/js/bootstrap.min.js}"></script>
        <script data-th-src="@{/js/plugins.js}"></script>
        <script data-th-src="@{/js/modernizr.js}"></script>
        <script data-th-src="@{/js/main.js}"></script>
        <script data-th-src="@{/js/jquery-ui.min.js}"></script>
  		<script data-th-src="@{/js/jquery.steps.min.js}"></script>
    	<script data-th-src="@{/js/jquery.smartWizard.min.js}"></script>
  	
  		<script type="text/javascript">
	  		$(document).ready(function(){
	  			
	  			$("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
	                //alert("You are on step "+stepNumber+" now");
	                if(stepPosition === 'first'){
	                    $("#prev-btn").addClass('disabled');
	                }else if(stepPosition === 'final'){
	                    $("#next-btn").addClass('disabled');
	                }else{
	                    $("#prev-btn").removeClass('disabled');
	                    $("#next-btn").removeClass('disabled');
	                }
	             });
	
	             // Toolbar extra buttons
	             var btnFinish = $('<button></button>').text('Selesai')
	                                              .addClass('btn btn-info')
	                                              .on('click', function(){ alert('Finish Clicked'); });
	             var btnCancel = $('<button></button>').text('Batalkan')
	                                              .addClass('btn btn-danger')
	                                              .on('click', function(){ $('#smartwizard').smartWizard("reset"); });
	  			
	  			$('#smartwizard').smartWizard({
	  		        selected: 0,
	  		        theme: 'arrows',
	  		        transitionEffect:'fade',
	  		        showStepURLhash: true,
	  		        toolbarSettings: {toolbarButtonPosition: 'end',
	  		                          toolbarExtraButtons: [btnFinish, btnCancel]
	  		                        }
	  			});
	  			
	  			window.location="/konsultasi.next?#start";
	  		});
		</script>
    </body>
</html>
