<!doctype html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head data-th-replace="fragments/head :: all(title='Halaman Utama')"></head>
    <body>
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <section id="social" class="social" data-th-replace="fragments/headsection :: head-section"></section>
        <nav data-th-replace="fragments/navbar :: navbar(a='', b='', c='', d='active')"></nav>

         <!-- Sections -->
        <section id="features" class="features sections">
            <div class="container">
                <div class="row">
                    <div class="main_features_content2">

                        <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img data-th-src="@{/images/feature-2.jpg}" alt="" />
                            </div>
                        </div>

                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>Shara Shorea</h2>
                                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                                <ul>
                                    <li>Quisque volutpat mattis eros.</li>
                                    <li>Nullam malesuada erat ut turpis.</li>
                                    <li>Suspendisse urna nibh.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!--End of Features 2 Section -->

        <footer id="footer" class="footer" data-th-replace="fragments/footer :: footer"></footer>
		<div class="scrollup"><a ><i class="fa fa-chevron-up"></i></a></div>
    </body>
</html>
